@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* header.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:link, a:visited{
  color: inherit;
  text-decoration: none;
}
.container{
  width:1140px;
  margin: 0 auto;
}
header{
  position: absolute;
  color: black;
  top: 0;
  z-index: 1; /* 스크롤했을 때 다른 요소 밑에 가려서 안 보이는 일이 없도록 */
  width:100%;
  height: 240px;
  padding: 1rem;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
header button.logo{
  background-color: transparent;
  border: transparent;
  padding: 1rem 1rem;
  margin-top: 1rem;
  color: #526D82;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Permanent Marker'; /* 로고폰트 정해야 할 듯*/
  cursor: pointer;
}
header p {
  font-family: 'Noto Color Emoji';
  color: #27374D;
}
/* end header.css */

/* footer.css */
footer {
  bottom: 0;
  background-color: #3e3e3e;
  color: white;
  z-index: 1; /* 스크롤했을 때 다른 요소 밑에 가려서 안 보이는 일이 없도록 */
  width:100%;
  height: 240px;
  padding: 1rem;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

footer.container{
  display: flex;
  justify-content: space-between; /* 간격을 똑같이 한다 */
  align-items: center;
  width: 100%;
}

footer nav ul{
  display: flex;
  justify-content: center;
}

footer nav ul li{
  padding: 20px;
}

footer i{
  display: flex;
  justify-content: center; 
  margin: 10px 10px;
  background: transparent;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
}

footer button{
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  font-family: 'Playfair Display';
  font-size: 1rem;
}

li{
  list-style: none;
}

footer p {
  font-size: 0.8rem;
}