@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Permanent+Marker&display=swap');

/* main.css */
.main {
  padding-top: 300px; /* header의 높이만큼 메인 내용이 아래로 밀리도록 설정*/
  margin-bottom: 150px; /*푸터와의 간격 조절하기 위해*/
}

.main .container {
  width: 1140px;
  margin: 0 auto;
}

/* 옆으로 클릭하면 넘어가는 건 자바스크립트로 구현하는 부분 같아 우선 가로스크롤로 처리했습니다*/

.main-top {
  overflow-x: auto; /*가로 스크롤 추가*/
  white-space: nowrap; /* 이미지 옆으로 넘어가도록 */
}

.main-top img {
  width: 100%;
  height: 500px;
  margin-right: 10px;
}

.main-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.main-middle input{
  width: 318px;
  height: 28px;
  border:1px solid #ccc;
  border-radius: 10px 10px;
}

.main-middle .search-icon {
  background-color: transparent;
  border:1px solid transparent;
  border-radius: 50px 50px;
  font-size: 19px;
  cursor: pointer;
}

.main-middle .registration-form button {
  width: 50px;
  height: 28px;
  color: grey;
  background-color: transparent;
  border:1px solid #ccc;
  cursor: pointer;
}

.main-bottom::after {
  content: "";
  display: block;
  clear: both;
}

.main-bottom .main-inner {
  width: 30%;
  height: 370px;
  margin-right: 5%;
  padding:1rem 1rem 1.5rem 1rem;
  float:left;
  background-color: transparent;
  border:1px solid #ccc;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.main-bottom .main-inner:nth-child(3n) {
  margin-right:0;
}

.main-bottom .main-inner .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* 이미지 크기가 부모 요소를 넘지 않도록 100%로 지정 */
.main-bottom .main-inner .image img{
  width:100%;
  display:block;
}

.main-bottom .main-inner strong {
  margin-top: 20px;
  display: block;
  font-family: 'Noto Sans Korean' sans-serif;
}

.main-bottom .main-inner h3 {
  margin-top: 10px;
  font-family: 'Noto Sans Korean' sans-serif;
  color: #3e3e3e;
}

.main-bottom .main-inner strong,
.main-bottom .main-inner h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* end main.css */