
/* recommend.css */
.recommend-page {
  background-color: #DDE6ED;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 2000px;
}

.rec-main {
  margin-top: 145px;
  align-items: center; 
  justify-content: center; 
  background-color: transparent;
}

.rec-top {
  text-align: center; 
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px 0;
  padding: 100px 0;
  color: #404258;
}

.rec-image {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.rec-image::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(221, 230, 237, 0.3), rgba(221, 230, 237, 0.3)); 
  z-index: 1; 
}

.rec-image img{
  width: 1140px;
  height: 500px;
  float: none;
}

.rec-location {
  font-size: 16px;
  font-weight: bold;
  padding: 0 300px;
  padding-bottom: 10px;
}

.rec-location, .rec-content, .rec-address {
  text-align: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #404258;
  float: none;
}

.rec-address {
  font-size: 13px;
  padding-bottom: 15px;
}

.rec-content {
  padding-bottom: 160px;
  font-size: 13px;
}

/*End recoomend.css*/