@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Pen+Script&family=Noto+Color+Emoji&family=Noto+Sans+KR:wght@100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* header.css */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

a, a:link, a:visited{
  color:inherit;
  text-decoration:none;
}

li{
  list-style:none;
}

.header-container{
  width:1140px;
  margin:0 auto;
}

header{
  position:fixed; 
  color:#27374D; 
  background-color: transparent;
  top:0;
  z-index:2;
  width:100%;
  padding:1rem;
}

header .header-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}

header nav ul{
  display:flex;
}

header nav ul li{
  padding:10px;
}

header button{
  background: transparent;
  border:0;
  cursor: pointer;
  color: #27374D;
}
header h1 button{
  font-size: 2rem;
  font-weight: bold;
  color: #27374D;
}
header nav ul li button{
  font-size: 1.2rem;
  color: #27374D;
}

header.active{
  color: #27374D;
  background-color:transparent;
  animation:fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
} 
/* End header.css */

/* first.css */
.first-container {
  width: 100%;
  height: 100vh;
  color: #27374D;
  background: url('../images/main3.jpg') center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/* End first.css*/


/* about.css */
.about-page {
  margin-top: 145px;
}

.about-main {
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.about-top {
  text-align: center; 
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
  margin: 30px 0;
  color: #404258;
}

.about-left {
  flex: 0 0 50%;
  max-width: 50%; 
}

.about-left img {
  width: 100%;
  padding-right: 100px;
}

.about-right {
  flex: 1;
  padding-left: 30px;
  padding-right: 100px;
  
}

.about-right .about-korean {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  font-family: 'Noto Sans Korean' sans-serif;
  color: #526D82;
}

.about-right .about-english {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Noto Sans Korean", sans-serif ;
  color: #526D82;
}

.about-right .about-contact {
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Kanit' sans-serif;
  color: #9DB2BF;
}
/*End about.css*/

/* main.css */
.main {
  margin-top: 145px;
}

.main .container {
  width: 1140px;
  margin: 0 auto;
}

/*.main-top {
  overflow-x: auto; 
  white-space: nowrap; 
} */

/*.main-top img {
  width: 100%;
  height: 500px;
  margin-right: 10px;
}*/

.main-top {
  text-align: center; 
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #404258;
}

.main-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.main-middle input{
  width: 318px;
  height: 28px;
  border:1px solid #ccc;
  border-radius: 10px 10px;
  font-size: 12px;
  color: #27374D;
  border-color: #ccc;
}

.main-middle .search-icon {
  background-color: transparent;
  border:1px solid transparent;
  border-radius: 50px 50px;
  color: #27374D;
  font-size: 19px;
  cursor: pointer;
}

.main-middle .registration-form button {
  width: 50px;
  height: 28px;
  color: #27374D;
  background-color: transparent;
  border:1px solid #ccc;
  border-color: #ccc;
  font-size: 12px;
  cursor: pointer;
}

.main-bottom::after {
  content: "";
  display: block;
  clear: both;
}

.main-bottom .main-inner {
  width: 30%;
  height: 370px;
  margin-right: 5%;
  padding:1rem 1rem 1.5rem 1rem;
  float:left;
  background-color: transparent;
  border:1px solid #ccc;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.main-bottom .main-inner:nth-child(3n) {
  margin-right:0;
}

.main-bottom .main-inner .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* 이미지 크기가 부모 요소를 넘지 않도록 100%로 지정 */
.main-bottom .main-inner .image img{
  width:100%;
  display:block;
}

.main-bottom .main-inner strong {
  margin-top: 20px;
  display: block;
  color: #526D82;
  font-family: 'Noto Sans Korean' sans-serif;
}

.main-bottom .main-inner h3 {
  margin-top: 10px;
  font-family: 'Noto Sans Korean' sans-serif;
  color: #27374D;
  font-size: 14px;
}

.main-bottom .main-inner strong,
.main-bottom .main-inner h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info{
  margin-right:0;
}

.car-div {
  display: inline-block;
  margin:20px;
  text-align: left;
  width: 30%;
  height: 450px;
  margin-right: 1%;
  padding:1rem 1rem 1.5rem 1rem;
  background-color: transparent;
  border:1px solid #ccc;
  margin-bottom: 2rem;
  margin-top: 2rem;
  justify-content: center;
  
}
/* end main.css */


/* recommend.css */
.recommend-page {
  background-color: transparent;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 2000px;
}

.rec-main {
  margin-top: 145px;
  align-items: center; 
  justify-content: center; 
  background-color: transparent;
}

.rec-top {
  text-align: center; 
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px 0;
  padding: 100px 0;
  color: #404258;
}

.rec-image {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.rec-image::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(221, 230, 237, 0.3), rgba(221, 230, 237, 0.3)); 
  z-index: 1; 
}

.rec-image img{
  width: 1140px;
  height: 500px;
  float: none;
}

.rec-location {
  font-size: 16px;
  font-weight: bold;
  padding: 0 300px;
  padding-bottom: 10px;
}

.rec-location, .rec-content, .rec-address {
  text-align: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #404258;
  float: none;
}

.rec-address {
  font-size: 13px;
  padding-bottom: 15px;
}

.rec-content {
  padding-bottom: 160px;
  font-size: 13px;
}

/*End recoomend.css*/

/* footer.css */
footer {
  bottom: 0;
  background-color: #3e3e3e;
  color: white;
  z-index: 1; /* 스크롤했을 때 다른 요소 밑에 가려서 안 보이는 일이 없도록 */
  width:100%;
  height: 240px;
  padding: 1rem;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

footer.container{
  display: flex;
  justify-content: space-between; /* 간격을 똑같이 한다 */
  align-items: center;
  width: 100%;
}

footer nav ul{
  display: flex;
  justify-content: center;
}

footer nav ul li{
  padding: 20px;
}

footer i{
  display: flex;
  justify-content: center; 
  margin: 10px 10px;
  background: transparent;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
}

footer button{
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  font-family: 'Playfair Display';
  font-size: 1rem;
}

li{
  list-style: none;
}

footer p {
  font-size: 0.8rem;
}
/* end footer */